<div class="nav-bar">
  <div class="menu-button">
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="fas fa-bars"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateToChapter(0)">Sissejuhatus</button>
      <button mat-menu-item (click)="navigateToChapter(1)">1. SELECT, FROM ja WHERE</button>
      <button mat-menu-item (click)="navigateToChapter(2)">2. AND, OR ja NOT</button>
      <button mat-menu-item (click)="navigateToChapter(3)">3. LIKE ja IN</button>
      <button mat-menu-item (click)="navigateToChapter(4)">4. ORDER BY</button>
    </mat-menu>
  </div>
</div>
