<div class="nav-bar">
  <div class="menu-button">
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="fas fa-bars"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateToChapter(0)">Sissejuhatus</button>
      <button mat-menu-item (click)="navigateToChapter(1)">1. SELECT, FROM ja WHERE</button>
      <button mat-menu-item (click)="navigateToChapter(2)">2. AND, OR ja NOT</button>
      <button mat-menu-item (click)="navigateToChapter(3)">3. LIKE ja IN</button>
      <button mat-menu-item (click)="navigateToChapter(4)">4. ORDER BY</button>
      <button mat-menu-item (click)="navigateToChapter(5)">5. CASE</button>
      <button mat-menu-item (click)="navigateToChapter(6)">6. Tabelite loomine</button>
      <button mat-menu-item (click)="navigateToChapter(7)">7. INSERT, UPDATE ja DELETE</button>
      <button mat-menu-item (click)="navigateToChapter(8)">8. Tabelite seostamine</button>
      <button mat-menu-item (click)="navigateToChapter(9)">9. Vaated</button>
      <button mat-menu-item (click)="navigateToChapter(10)">10. Agregeerivad funktsioonid</button>
      <button mat-menu-item (click)="navigateToChapter(11)">11. GROUP BY</button>
    </mat-menu>
  </div>
</div>
