.panel {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 56em) [main-end]
    minmax(1em, 1fr) [full-end];
  grid-gap: 1em;
  background-color: #fffbfd;
  padding: 2em;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 2px 2px 5px #888888;
}

.panel-content {
  grid-column: main;
}
