.sql-input {
  width: 100%;
  font-family: Consolas, monospace;
}

.exercise-question {
  margin-bottom: 1em;
}

.result-icon-correct {
  color: forestgreen;
}

.result-icon-false {
  color: darkred;
}
