.sql-input {
  width: 100%;
  font-family: Consolas, monospace;
}

.exercise-questions {
  margin-bottom: 2em;
}

.exercise-question {
  margin-bottom: 3em;
}

.result-icon-correct {
  color: #004528;
}

.result-icon-false {
  color: darkred;
}

.mat-card {
  margin: 1em 0;
}
